{% extends 'base.twig' %}

{% block style %}
    {{ parent() }}
    <style type="text/css">
        body {
            padding: 100px;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container-fluid">
        {% block content %}
        {% endblock %}
    </div>
{% endblock %}
