{% extends 'error/layout.twig' %}

{% block title %}{{ 'Page not found'|trans() }}{% endblock %}

{% block content %}
    <div class="alert alert-info">
        <h1>{{ 'Page not found'|trans() }}</h1>
    </div>
{% endblock %}