{% extends 'admin/layout.twig' %}

{% block content %}
    <form action="{{ url('admin_config') }}" method="post" class="form">
        {{ form_widget(form) }}
        <div class="actions">
            <button type="submit" class="primary">{{ 'Save'|trans() }}</button>
            <button type="reset">{{ 'Reset'|trans() }}</button>
        </div>
    </form>
{% endblock %}
