{% extends 'admin/layout.twig' %}

{% block content %}
    <h3>БЕТА ВЕРСИЯ</h3>
    <div class="alert alert-info">
        Часть функционала недоступна. Могут быть перебои в работе.
    </div>
{% endblock %}