{% extends 'admin/layout.twig' %}

{% block h1 %}
    БЕТА ВЕРСИЯ
{% endblock %}

{% block content %}
    <div class="alert alert-info">
        Часть функционала недоступна. Могут быть перебои в работе.
    </div>
{% endblock %}