{% extends 'admin/layout.twig' %}

{% block content %}
    <h1>БЕТА ВЕРСИЯ</h1>
    <div class="alert alert-info">
        Часть функционала недоступна. Могут быть перебои в работе.
    </div>
{% endblock %}