<div class="message" id="message-[id]" {% block message_attr %}{% endblock %}>{% block message %}
    {% block avatar %}
    [#user.avatar]
    <img class="avatar" data-user-id="[user.id]" src="[user.avatar]">
    [/user.avatar]

    [^user.avatar]
    <img class="avatar" data-user-id="[user.id]" src="{{ asset('/img/avatar.png') }}">
    [/user.avatar]
    {% endblock %}

    <span class="time" {% block time_attr %}{% endblock %}>
        {% block time %}[time]{% endblock time %}
    </span>
    <span class="user" {% block user_attr %}{% endblock %}>
        {% block user %}
        [#for]
        <span class="name" data-user-name="[user.name]">[user.name]</span> {{ 'for'|trans() }}
        <span class="name" data-user-name="[for.name]">[for.name]</span>:&nbsp;
        [/for]

        [^for]
        <span class="name" data-user-name="[user.name]">[user.name]</span>:&nbsp;
        [/for]
        {% endblock %}
    </span>
    <span class="text" {% block text_attr %}{% endblock %}>{% block text %}[&text]{% endblock %}</span>
{% endblock %}</div>