{% extends 'base.twig' %}

{% block style %}
    <link rel="stylesheet" href="{{ asset('lib/bootstrap/css/bootstrap.min.css') }}" type="text/css">
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/users.css') }}">
{% endblock style %}

{% block body %}
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
{% endblock %}