<div id="message-color" class="popover top" style="top: 0; left: 0; display: none;">
    <div class="arrow"></div>
    <ul class="menu">
        <li><a data-action="color" data-color="#123456">{{ 'Color'|trans() }}</a></li>
    </ul>
</div>