html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
	direction: rtl;
}

.box {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
}

.name {
    white-space: nowrap;
    text-decoration: none;
    cursor: pointer;
}

.avatar {
    display: inline-block;
    width: 32px;
    height: 32px;
    font-size: 32px;
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
    border-radius: 3px;
}

.emotion {
    width: 24px;
    height: 24px;
    vertical-align: middle;
}

.popover {
    max-width: none;
}

/* Header */

header {
    box-sizing: border-box;
    width: auto;
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
    padding-left: 10px;
    padding-right: 10px;
    z-index: 20;
}

header .button-show-userlist {
    display: none;
}

header .buttons-right {
    float: left;
}

header .title {
    font-size: 16px;
}

/**
 * User list
 */

aside {
    box-sizing: border-box;
    position: absolute;
    top: 50px; /* header height */
    right: 0;
    bottom: 0;
    width: 300px;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 1;
}

aside .user {
    height: 40px;
    line-height: 40px;
    padding-left: 5px;
    padding-right: 5px;
}

aside .user .avatar {
    display: inline-block;
    vertical-align: middle;
    margin-top: -4px;
}

aside .user .name {
    display: inline-block;
}

/**
 * Chat Board
 */

.chat {
    position: absolute;
    top: 50px; /* header height */
    right: 300px; /* users width */
    left: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: 10;
}

.chat > div {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.chat .user {
    white-space: nowrap;
}

.chat .avatar {
    float: right;
    margin-left: 5px;
}

.chat .time {
    text-decoration: none;
    float: left;
    font-size: 10px;

}

.chat .name {
    font-size: 14px;
}

.chat .text {
   /* display: block;*/
    margin-left: 37px; /* Avatar margin. */
    white-space: pre-wrap;
}

.chat img.external {
    max-width: 300px;
    max-height: 300px;
}

.log.danger {
    background-color: rgb(255, 65, 54);
    color: #ffffff;
}

/**
 * Controls
 */

footer {
    display: block;
    box-sizing: border-box;
    position: absolute;
    right: 300px; /* users width */
    left: 0;
    bottom: 0;
    padding: 10px;
    z-index: 20;
}

footer textarea.form-control {
    width: 100%;
    height: 45px;
    padding: 10px;
    font-size: 16px;
    line-height: 18px;
    outline: none;
}

footer .buttons {
    margin-bottom: 5px;
    min-height: 36px;
}

footer .buttons .buttons-other {
    display: inline-block;
	float: left;
}

footer .buttons .buttons-send {
    float: right;
}

/**
 * Emotions
 */

#emotions {
    max-width: 276px;
}

#emotions .left {
    cursor: pointer;
    float: left;
    margin-top: 3px;
    margin-right: 10px;
}

#emotions .right {
    cursor: pointer;
    float: right;
    margin-top: 3px;
    margin-left: 10px;
}

#emotions .content {
    overflow-x: hidden;
    white-space: nowrap;
}

#emotions .tab {
    display: inline-block;
    vertical-align: top;
    white-space: normal;
    width: 276px;
}

#emotions .img {
    cursor: pointer;
    display: inline-block;
    margin: 3px;
    max-width: 24px;
    max-height: 24px;
}

#emotions img {
    max-width: 24px;
    max-height: 24px;
}

/**
 * Profiles
 */

.profile {
}

.profile .avatar {
    width: 64px;
    height: 64px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    background-color: #dadada;
}

.profile .popover-side {
    float: left;
    margin: 5px;
    margin-top: -30px;
}

.profile .popover-title {
    padding-left: 80px;
    font-weight: bold;
}

.profile .popover-content {
    padding-left: 80px;
}

/*
 * Copyright
 */

.copyright {
    position: absolute;
    bottom: 5px;
    right: 5px;
    color: #9b9b9b;
    font-size: 10px;
    z-index: 100;
}

.copyright:first-letter {
    font-size: 14px;
}

.copyright a {
    color: #9b9b9b;
    font-size: 10px;
}