header .button-show-userlist {
    display: inline-block;
}

aside {
}

footer {
    left: 0;
}

.chat {
    left: 0;
}

.buttons .buttons-other {
    display: none !important;
}

.copyright,
.copyright a,
.copyright:first-letter {
    font-size: 4px !important;
}