header,
aside,
footer {
    background-color: #fbfbfb;
}

/**
 * Borders
 */

@media only screen and (min-width: 320px) and (max-width: 480px) {
    .chat {
        border-left: solid 1px #e1e1e1;
    }
}

header {
    border-bottom: solid 1px #e1e1e1;
}

aside {
    border-right: solid 1px #e1e1e1;
}

aside .user {
    border-bottom: solid 1px #e1e1e1;
}

.chat > div {
    border-bottom: solid 1px #f7f7f7;
}

footer {
    border-top: solid 1px #e1e1e1;
}

/**
 * Over colors
 */

.chat {
    background-color: #ffffff;
}

.chat .time {
    color: #898989;
}

.name {
    color: #24ad1b;
}