{% extends 'users/layout.twig' %}

{% block content %}
    <form class="form">
        <h1>{{ 'Success'|trans() }}</h1>
        <a href="{{ url('login') }}">{{ 'Login'|trans() }}</a>
    </form>
{% endblock %}