{% extends 'users/layout.twig' %}
{% trans_default_domain 'users' %}

{% block content %}
    <form class="form">
        <h1>{{ 'register.success'|trans() }}</h1>
        <a href="{{ url('login') }}">{{ 'button.login'|trans() }}</a>
    </form>
{% endblock %}