* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    font-family: Verdana, Helvetica, sans-serif;
}

img {
    border: none;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}