* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    font-family: Verdana, Helvetica, sans-serif;
}

img {
    border: none;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

/* Avatar */

.avatar {
    display: inline-block;
    width: 32px;
    height: 32px;
    font-size: 32px;
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
    border-radius: 3px;
}