<!doctype html>
<html>
<head>
    <title>{% block title %}ElfChat{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    {% block style %}
        <link rel="stylesheet" href="{{ asset('css/common.css') }}" type="text/css">
    {% endblock %}
    <script src="{{ asset('lib/vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('lib/vendor/prefix-free/index.js') }}"></script>
</head>
<body>
{% block body %}
{% endblock %}
{% block script %}
{% endblock %}
</body>
</html>