{% extends 'base.twig' %}

{% block style %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/profile.css') }}">
{% endblock %}

{% block body %}
    <div class="navbar">
        {{ block('title') }}
    </div>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
{% endblock %}
