{% extends 'moderator/layout.twig' %}

{% block content %}
    <h1>{{ 'Ban %user%'|trans()|replace({'%user%': user is empty ? '' : user.name}) }}</h1>
    <form action="{{ url('add_ban') }}" method="post">
        {{ form_widget(form) }}
        <div class="actions">
            <button type="submit" class="danger">{{ 'Ban'|trans() }}</button>
        </div>
    </form>
{% endblock %}