{% extends 'moderator/layout.twig' %}

{% block content %}
    <h1>{{ 'Ban %user%'|trans()|replace({'%user%': user is empty ? '' : user.name}) }}</h1>
    <form action="{{ url('add_ban') }}" method="post" class="form-horizontal">
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-danger">{{ 'Ban'|trans() }}</button>
    </form>
{% endblock %}